
<%- include('./partials/header.ejs') %>

<div class="w-full h"></div>

<div class ="w-full mt-2 h-screen bg-[url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] flex items-center justify-center">

<div class="w-[25wh] h-[60vh] bg-white px-20 py-5 rounded-md">
    <h1 class="text-3xl text-center font-semibold text-zinc-700 tracking-tight capitalize leading none">Create new account</h1>
    <form action="/register" method="post">
        <input class="block w-full border-2 rounded-md mt-2 px-3 py-2" type="email" name="email" placeholder="Email">
        <input class="block w-full border-2 rounded-md mt-2 px-3 py-2" type="text" name="fullname" placeholder="fullname">
        <input class="block w-full border-2 rounded-md   mt-2 px-3 py-2" type="text" name="username" placeholder="username">
        <input class="block w-full border-2 rounded-md mt-2 px-3 py-2" type="password" name="password" placeholder="password">
        <input class="block w-full border-2 rounded-md mt-2 px-3 py-2" type="date" name="dateofbirth" placeholder="Date of birth">
        <input class="block w-full border-2 rounded-md mt-2 px-3 py-2 bg-red-600 text-white rounded-full mt-2" type="submit" value="Register">
        <p class="text-xs font-semibold text-zinc-700">By continuing, you agree to Pinterest's Terms of Service.</p>
        <a class =""></a>
    </form>
    <a  class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center"  href="/">Already have an account?</a>
</div>
</div>

<%- include('./partials/footer.ejs') %>   
